extends layout

block content
	div(id="todo-list", class="row")
		section(class="leftLayer col-sm-4")
			div
				h1=title
				div(id="routeList")
					div(class="row routeRow", ng-repeat="call in calls", ng-mouseenter="showDeleteCall = true", ng-mouseleave="showDeleteCall = false") 
						div(class="call-actions" ng-show="showDeleteCall")
							a(class="call-delete", ng-click="remove(call._id)")
								img(src="img/ico/delete.png")
						div(class="col-sm-12", ng-click="select(call)")
							a(href="#") <span class="httpMethod {{call.method}}">{{call.method}}</span> {{call.path}}
							
		section(class="rightLayer col-sm-8") 
			form(name="routeForm")
				section(id="inputInfo")
					section(class="row")
						div(class="form-group col-sm-6")
							div(class="input-group")
								span(class="input-group-addon")
									i( class="fa fa-link")
								input(ng-pattern="/^/?[a-zA-Z0-9]+$/", name="path", title="url path",class="form-control",type="text",placeholder="url path", ng-model="callForm.path", autofocus)
								
						div(class="form-group col-sm-2")
							select(required="required",ng-model="callForm.method", class="form-control")
								option(value="") [Method]
								option(value="GET") GET
								option(value="POST") POST
								option(value="PUT") PUT
								option(value="DELETE") DELETE
						div(class="form-group col-sm-2")
							button(class="btn btn-default", type="button", ng-click="toggleURLParams()", ng-class="urlParamsClass") URL Params
						//
							div(class="form-group col-sm-2")
								button(class="btn btn-default", type="button", ng-click="toggleHeaders()", ng-class="headersClass") Headers

					section(class="row", ng-show="urlParamsClass != ''", ng-repeat="urlParam in callForm.params")					
						div(class="form-group col-sm-3")							
							input(title="URL Parameter Key",class="form-control",type="text",placeholder="URL Parameter Key", ng-model="urlParam.key", ng-click="addURLParam($last)")
						div(class="form-group col-sm-3")
							input(title="URL Parameter Value",class="form-control",type="text",placeholder="URL Parameter Value", ng-model="urlParam.value", ng-click="addURLParam($last)")
						div(class="form-group col-sm-3", ng-show="!$last")
							img(class="deleteButton", src="img/ico/delete.png", ng-click="removeURLParam($index)")
				
				section(id="outputInfo", class="row")
					div(class="form-group col-sm-3")
						label Response code
						select(required="required", class="form-control", ng-model="callForm.response.code")
							option(value="") [Response code]
							option(value="200") 200 - OK
							option(value="201") 201 - Created
							option(value="404") 404 - Not Found
							option(value="500") 500 - Internal Server Error
					div(class="form-group col-sm-9")
						div(class="row")
							div(class="form-group col-sm-4")
								label Response type
								select(class="form-control", ng-model="callForm.response.type", ng-change="changeResponseType()")
									option(value="") No data
									option(value="application/json") JSON
									option(value="application/xml") XML
							div(class="form-group col-sm-7", ng-show = "callForm.response.type != null && callForm.response.type != '' ")
								label Response data
								textarea(name="responseData", class="form-control", rows="10", ng-model="callForm.response.data", ng-change="changeResponseData()")
				
			

				section(class="row")
					div(class="col-sm-12 button-group")
						button(class="btn btn-success", type="button", ng-disabled="routeForm.$invalid", ng-show="callForm._id == null", ng-click="save()") Save
						button(class="btn btn-success", type="button", ng-disabled="routeForm.$invalid", ng-show="callForm._id != null", ng-click="update()") Update 
						button(class="btn btn-warning", type="button", ng-show="callForm._id != null", ng-click="cancelEdit()") Cancel 			