doctype html
html(ng-app="sundaApp")
	head
		title= title
		script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js")
		script(src="js/controllers/routes.js")
		script(src="js/services/routes.js")
		script(src="js/core.js")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
	body(ng-controller="routesController")
		block content